body {
    padding: 0;
    margin: 0;
    background-color: #f9f9f7;
}


#title{
	color: #006633;
}


.post-main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 微软雅黑, Hiragino Sans GB, serif;
}

p {
    line-height:1.6em;
}

.wrapper {
    margin: 2em auto;
	width: 35em;
    border-color: #DDD;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    min-width: 700px !important;
}

a.nav:visited {
	color: #000;
}

.content a {
	color: #4183C4;
	text-decoration:none;
}

.content a:visited {
	color: #4183C4;
}

.content a:hover {
	color: #4183C4;
	text-decoration: underline;
}

.nav:link {
    margin-left: 5%;
    font-size: 1.2em;
    color: #000;
}

.content {
    margin-top: 5%;
}

.title:link {
    font-size: 1.3em;
    color: #000;
}

pre {
	background: #f0f0f0;
	border: 1px solid #ccc;
	line-height: 1.428571429;
	word-break: break-all;
	word-wrap: break-word;
	font-size: 13px;
	overflow: auto;
	border-radius: 3px;
    margin: 0 2px;
    padding: 0 5px;
    font-family: Menlo, Droid Sans Mono, Consolas, Monospace;
}

blockquote {
	border-left: 4px solid #DDD;
	padding: 0 15px;
	color: #777;
}


img {
	max-width: 100%;
	max-height: 100%;
}

table{
	padding:0
}

table{
	border-collapse:collapse;
	border-spacing:0
}

table tr{
	border-top:1px solid #ccc;
	background-color:#fff;
	margin:0;
	padding:0
}

table tr:nth-child(2n){
	background-color:#f8f8f8
}

table tr th{
	font-weight:bold;
	border:1px solid #ccc;
	text-align:left;
	margin:0;
	padding:6px 13px
}

table tr td{
	border:1px solid #ccc;
	text-align:left;
	margin:0;
	padding:6px 13px
}

table tr th :first-child,.body-html table tr td :first-child{
	margin-top:0
}

table tr th :last-child,.body-html table tr td :last-child{
	margin-bottom:0
}
